:root{
    --colorCenter:#e54f50;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    background-color: #703f3f;
    color: white;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 2px;
}

#img_logo {
    width: 70%;
}

.footer h1 {
    font-weight: bolder;
}

.footer li {
    font-size: 20px;
}

#design {
    text-align: center;
}